*{
  padding:0 0;
  margin: 0 0;
  font-family: 'Roboto', sans-serif;
  user-select: none;
  box-sizing: border-box;
}

.btn:active ,.btn:focus {
  outline: none;
  box-shadow: none;
}
body{
  //transition: background-color 0.2s ease-in-out;
  overflow-x: hidden;
}

textarea:focus,
.form-control:focus,
textarea.form-control:focus,
input.form-control:focus,
input:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
*:focus {
  outline: none;
}

textarea,
textarea.form-control,
input.form-control,
input{
  border-radius: 0;
}

// Adding customized link instead of a tags
.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  &:focus{
    outline: none;
  }
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}