// Colors schema
// =============
$white : #ffffff;
$primary : #5cb85c;
$primary_dark : #43b143;
$black : #292b2c;
$snow : #f9f9f9;
$gray : #cccccc;


// sizing
// ======
$font-size:                 13px;
$padding-large-horizontal:  20px;
$marginTop: 80px;
$marginBottom: 150px;


// radius modal
$border_radius: 10px
