// Colors schema
// =============
$white : #ffffff;
$primary : #5cb85c;
$black : #292b2c;
$snow : #f9f9f9;
$gray : #cccccc;


// sizing
// ======
$font-size:                 13px;
$padding-large-horizontal:  20px;


// radius modal
$border_radius: 6px
