@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&display=swap');
@import "./variables";
@import "./components/logo";
@import "./components/header";
@import "./components/slideShow";
@import "./pages/darkTheme";
@import "./pages/lightTheme";
@import "./components/cards/cards";
@import "./components/footer";

*{
  padding:0 0;
  margin: 0 0;
  font-family: 'Roboto', sans-serif;
}

*{
  box-sizing: border-box;

}

.btn:active ,.btn:focus {
  outline: none;
  box-shadow: none;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  outline: none;
}

// Adding customized link instead of a tags
.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

// ------------------------