@import "addiction";
@import "anxiety";
@import "_brain_health.scss";
@import "bullying";
@import "_cognitive_development";
@import "depression";
@import "emotional_abuse";
@import "goal_setting";
@import "lowliness";
@import "marital_issues";
@import "motivation";
@import "ocd";
@import "panic_disorder";
@import "parenting";
@import "phobias";
@import "ptsd";
@import "schizophrenia";
@import "self_esteem";
@import "sexuality";
@import "relationship_issues";
@import "spirituality";
@import "../../variables";

.article_container{
  .article{
    margin-top: $marginTop - 70;
    h1{
      font-weight: 500;
    }
    h2{
      line-height: .1em;
      font-weight: 200;
    }
    h3{
      font-size: 28px;
      font-weight: 600;
    }
    ul{
      li{
        line-height: 2em;
      }
    }
    .bold-intro{
      font-weight: 500;
    }
    .img-placeholder, .figure-article img {
      border-radius: 9px;
    }
    .img-placeholder{
      margin: 30px 0;
      height: 400px;
      width: 600px;
      background-color: #a5a4a4;
      overflow: hidden;
    }
  }
  margin-top: $marginTop;
  margin-bottom: $marginBottom;

  #f {
    background:#ace;
    padding:20px;
    width:200px;
    //position:fixed; top:640px; left:10px;
    border-radius: 9px;
  }
}


@media (min-width: 1000px) {
  .article_container{
    .article{
      max-width: 900px;
      h1{
        font-size: 54px;
      }
    }

  }
}

@media (max-width: 800px) {
  .article_container{
    .article{
      max-width: 100%;
      margin-left: 0 !important;
      h1{
        font-size: 20px;
      }
      h2{
        font-size: 15px;
      }
      .img-placeholder{
        height: 200px;
        width: 400px;
      }
    }
  }
}

@media (max-width: 500px) {
  //.sticky-toc-wrapper {
  //  position: absolute;
  //  left: 70px;
  //  width: 20px;
  //}
  .img-placeholder{
    max-width:100%;
    background-color: red !important;
  }
}
