.card_section {
  button{
    border-radius: 0 !important;
  }

  .card {
    border-radius: 8px;
    box-shadow: 6px 6px 20px 4px rgba(black, .2);
    transition: 0.5s;

    &:hover {
      transform: scale(1.012);
      box-shadow: 3px 3px 10px 4px rgba(black, .1);
    }
    .row{
      .description {
        text-align: center;
      }
    }

  }
  .btn {
    transition: none!important;
    border: 1px solid #000000;

  }
}
