.card_section {
  button{
    border-radius: 0 !important;
  }

  .card {
    background-color: $snow;
    border-radius: 8px;
    box-shadow: 0 12px 32px 4px rgba(black, .2);

    transition: .2s;

    &:hover {
      transform: translateY(-5px);
    }
    .row{
      .description {
        text-align: center;
      }
    }

  }
  .btn {
    background-color: $white;
    transition: none!important;
    border: 2px solid #000000;

  }
  .btn:hover {
    background-color:#fff!important;
  }
}