@import "../variables";
.all_troubles{
  margin-top: 100px;
  margin-bottom: 100px;
  .button {
    display: inline-flex;
    height: 40px;
    width: 220px;
    border: 2px solid $primary;
    margin: 20px 20px 20px 20px;
    color: #bfc0c0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .9em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    span {
      color: $black;
      text-decoration: none;
      letter-spacing: 1px;
    }
  }
  #button-1 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  #button-1 span {
    position: relative;
    transition: all .35s ease-Out;
  }

  #slide {
    width: 100%;
    height: 100%;
    left: -220px;
    background: $primary;
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
  }

  #button-1:hover #slide {
    left: 0;
  }

  #button-1:hover span {
    color: $white;
  }

  // Tooltip customization
  .tooltip{
    z-index: 100000;
    font-weight: bold;
  }
  .trouble_button{
    text-decoration: none;
  }

}