@import "../variables";
.faq{
  margin-top: 100px;
  margin-bottom: $marginBottom;
  //
  //
  //.accordion > input[name="collapse"] {
  //  display: none;
  //}
  //
  //.accordion .content {
  //  background: #fff;
  //  overflow: hidden;
  //  height: 0;
  //  transition: 0.5s;
  //}
  //
  //.accordion > input[name="collapse"]:checked ~ .content {
  //  height: auto;
  //  transition: height 0.5s;
  //}
  //
  //.accordion label {
  //  display: block;
  //
  //}
  //
  //
  ///* For Desktop */
  //@media only screen and (min-width: 620px){
  //
  //
  //  .accordion > input[name="collapse"]:checked ~ .content {
  //    height:inherit + 20px;
  //  }
  //
  //}
  //.accordion {
  //  margin-bottom: 0.1em;
  //}
  //
  //.accordion .handle {
  //  margin: 0;
  //  font-size: 18px;
  //
  //}
  //
  //.accordion label {
  //  color: #fff;
  //  cursor: pointer;
  //  font-weight: normal;
  //  padding: 10px;
  //  background: $primary;
  //
  //}
  //.accordion label:hover,
  //.accordion label:focus {
  //  background: $primary_dark;
  //}
  //
  //.accordion .handle label:before {
  //  font-family: FontAwesome, sans-serif;
  //  content: "\f107";
  //  display: inline-block;
  //  margin-right: 10px;
  //  font-size: 1em;
  //  line-height: 1.556em;
  //  vertical-align: middle;
  //  transition: 0.2s;
  //
  //}
  //
  //.accordion > input[name="collapse"]:checked ~ .handle label:before {
  //  transform: rotate(180deg);
  //  transform-origin: center;
  //  transition: 0.4s;
  //}



  .accordion .card {
    background: none;
    border: none;
  }
  .accordion .card .card-header {
    background: none;
    border: none;
    padding: .4rem 1rem;
    font-family: "Roboto", sans-serif;
  }
  .accordion .card-header h2 span {
    float: left;
    margin-top: 10px;
  }
  .accordion .card-header .btn {
    color: #2f2f31;
    font-size: 1.04rem;
    text-align: left;
    position: relative;
    font-weight: 500;
    padding-left: 2rem;
  }
  .accordion .card-header i {
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 9px;
  }
  .accordion .card-header .btn:hover {
    color: $primary;
  }
  .accordion .card-body {
    color: #324353;
    padding: 0.5rem 3rem;
  }
  .page-title {
    margin: 3rem 0 3rem 1rem;
    font-family: "Roboto", sans-serif;
    position: relative;
  }
  .page-title::after {
    content: "";
    width: 90px;
    position: absolute;
    height: 3px;
    border-radius: 1px;
    background: $primary_dark;
    left: 0;
    bottom: -15px;
  }
  .accordion .highlight .btn {
    color: $primary_dark;
  }
  .accordion .highlight i {
    transform: rotate(180deg);
  }
}