@import "../variables";

.goBackButton {
  position: fixed;
  top:80px;
  left:20px;
      &::after {
        content: "\f0a8";
        font-family: FontAwesome ,sans-serif;
        font-size: 35px;
        color: $primary;
        top: 0;
        left: 1px;
        border-color: transparent;
        background-color: transparent;
        cursor: pointer;
      }
    &:hover {
      color: $primary_dark;
    }
  }

@media (max-width: 500px) {
  .goBackButton {
    left:8px;
    &::after {

      font-size: 25px;
    }
  }
}
