@import "../variables";

.goBackButton {
      &::after {
        content: "\f0a8";
        font-family: FontAwesome ,sans-serif;
        font-size: 35px;
        color: $primary;
        top: 0;
        left: 1px;
        border-color: transparent;
        background-color: transparent;
        cursor: pointer;
      }
    &:hover {
      color: $primary_dark;
    }
  }
