nav {
  transition: 0.3s ease-in-out;
  ul {
    li {
      font-weight: 700;
      padding: 0 0 !important;
    }
  }

  button{
    border-radius: 0 !important;
  }
  //.custom-control-label::after{
  //  background: coral;
  //  color:red;
  //}

  /*Simple css to style it like a toggle switch*/

  .theme-switch {
    display: inline-block;
    height: 26px;
    position: relative;
    width: 50px;
  }

  .theme-switch input {
    display:none;
  }

  .slider {
    background-color: $gray;
    bottom: 0.6px;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .slider:before {
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 20px;
    left: 5px;
    position: absolute;
    transition: .5s;
    width: 20px;
  }
  input:focus .slider:before{
    border: 20px solid yellow;
  }
  input:checked + .slider {
    background-color: #32382f;
  }


  input:checked + .slider:before {
    transform: translateX(20px);
  }

  .logoNightMode , .logoLightMode{
    font-size: 14px;
    user-select: none;
    opacity: 1;
    transition: opacity 0.1s ease-in;
  }
  input:checked .logoLightMode{
    opacity: 0;
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .getStarted.btn {
    transition: none!important;
    font-weight: 500;

  }

  .navbar-toggler , .navbar-toggler:focus{
    border:none;
    outline: none;
  }
}