.logIn{
  margin-top: 200px;
  text-align: center;
}
.loginForm{
  button{
    height: 40px;
    width: 330px;
    span{
      font-weight: bold;
      font-family: "GT Walsheim Pro", Arial, sans-serif;
      font-size: 15px;
      letter-spacing: 0.3px;
      color: rgb(0, 0, 0);
      position: absolute;
      left: 70px;
    }
  }
  .social{
    border: 0.1px solid #454242;
  }
  .social:hover{
    background-color: rgb(236, 236, 236) !important;
    //border: 1px solid black;
  }

  .form-separator {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    span{
      font-weight: bold;
      background:#fff;
      padding:0 10px;
    }
  }
  input[type=password], input[type=email], input[type=text]{
    border-radius: 5px;
    height: 40px;
  }
  button[type=submit]{
    background-color: #74efef;
    font-weight: bold;
  }
  button[type=submit]:hover{
    background-color: #1beaea;

  }
  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 1.5em; height: 1.5em;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
  }

  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: 1px; left: -1px;
    background-color: #111e38;
    border-radius: 4px;
    font-size: 2em;
    line-height: 0.8;
    color: #1beaea;
    //transition: opacity .2s;
  }

  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }

  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  .sign-up{
    .link {
      margin-left: 8px;
      border: none;
      outline: none;
      background: none;
      display: inline-block;
      font-family: "GT Walsheim Pro", Arial, sans-serif;
      font-size: 15px;
      cursor: pointer;
      font-weight: bold;
      color: rgb(55, 34, 211);
    }
  }

}