._404-item-message {
  transition: color 0.3s ease-in-out;

  margin: 100px 0;
  width: 100%;


  h1 {
    font-family: 'Turret Road', cursive;
    font-weight: 700;
    margin: 30px;
    font-size: 15vw;

  }
}
